@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.home {
  height: 100vh;
 background-image: url('./images/nordwood-themes-nDd3dIkkOLo-unsplash.jpg');
 background-size: auto;
 background-repeat: no-repeat;
 background-size: cover;
}
.about{
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3760&q=80');
  background-size: auto;
  background-repeat: no-repeat;
}
.contact {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}

.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
}